[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
panda = "*"
pandas = "*"
sklearn = "*"
fsspec = "*"
s3fs = "*"

[dev-packages]
pyarrow = "*"
parquet = "*"
pytest = "*"
panda = "*"

[requires]
python_version = "3.9"
