[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
panda = "*"
pandas = "*"
#sklearn = "==1.0.2"
fsspec = "*"
s3fs = "*"
mlflow = "*"
scikit-learn = "==1.0.2"
awscli = "*"
prefect = "==2.0b5"
alembic = "*"
seaborn = "*"
hyperopt = "*"
xgboost = "*"
fastparquet = "*"

[dev-packages]
pyarrow = "*"
parquet = "*"
#pytest = "*" #"==2.14.4"
deepdiff = "*"
panda = "*"
black = "*"
isort = "*"
pre-commit = "*"
pylint = "==2.14.4"
terraform-local = "*"

[requires]
python_version = "3.9"
